# 피타고라스 수
a+b+c=1000 인 피타고라스 수

In [3]:
for a in range(1, 333):
    for b in range(a+1, 500):
      c = 1000 - a - b
      if c*c == a*a + b*b:
          print(a, b, c)

200 375 425

In [6]:
[(a, b, c) for a in range(1,333)
              for b in range(a+1, 500)
                for c in range(b+1, 1000)
                  if a+b+c == 1000 and a*a+b*b == c*c]

[(200, 375, 425)]

# 만 나이 구하기

In [7]:
from datetime import date
today = date.today()

In [8]:
year, month, day = map(int, input('생일 입력').split())
year, month, day

생일 입력1986 11 15

(1986, 11, 15)

In [ ]:
if month > today.month:
    age = today.year - year - 1
elif month < today.month:
    age = today.year - year
else:
    if day > today.day:
        age = today.year - year - 1
    else:
        age = today.year - year
print(f'만 나이는 {age} 입니다.')

# 디지털 시계
하루 시간을 초로 환산

In [10]:
total_seconds = 0
for hour in range(24):
    for min in range(60):
      time = f'{hour:02d}:{min:02d}'
      if '3' in time:
          total_seconds += 60
print(total_seconds)

29700